<!--
 * Title: about.component.html
 * Author: Michael Christman
 * Date: September 29, 2023
 * Sources Used:
 * Angular Tutorial for Beginners: Navigation and Layout with Angular Material video by Professor Krasso (https://www.youtube.com/watch?v=Wif3MsDN7Pg)
-->

<div>
  <!-- Row for the page title -->
  <div class="row">
    <div class="col-8 m-auto">
      <h2 class="page-title text-center m-4 mb-3">
        Welcome to the About Us page
      </h2>
    </div>
  </div>

  <br />

  <!-- Row for the main content -->
  <div class="row">
    <!-- Column for the image -->
    <div class="col-md-5 pl-0 pr-0">
      <figure style="display: inline-block">
        <img
          src="assets/Seamus.jpg"
          class="img-fluid rounded"
          alt="Seamus, founder of Loan App"
          style="max-width: 100%; height: auto"
        />
        <figcaption class="text-center p-2">
          <!-- Image attribution -->
          <small class="text-white" style="font-size: 85%">
            <em>Image licensed from </em>
            <a
              href="https://www.istockphoto.com/portfolio/LeonidKos?mediatype=photography"
              target="_blank"
              class="text-light"
            >
              LeonidKos
            </a>
          </small>
        </figcaption>
      </figure>
    </div>

    <!-- Column for the main text content -->
    <div class="col-md-7">
      <p class="mb-4" style="line-height: 1.6">
        At the Gryffindor Loan App, we value courage, chivalry, and determination. Our vision statement: Here, at Gryffindor Loan App, 
        we are devoted to helping those who are financially struggling and display resilience in the face of adversity.
      </p>
      <p class="mb-4" style="line-height: 1.6">
        In a dilapidated little office filled to the brim with precariously high stacks of financial guidebooks
        and a entirely full whiteboard, our chivalrous and charismatic founder, Seamus, has proven
        himself to be a financial warlock. His epiphany came to him while aiding his
        friend, Harry, traverse the maze of possible loan options.
        Harry, an overworked young man with dreams of becoming an entrepeneur, was originally confounded by the loan jargon.
        He felt like he was transferred to a fantasy world of financial challenges!
      </p>
      <p class="mb-4" style="line-height: 1.6">
        Seamus chose to design an app that would provide individuals
        such as Harry with the required knowledge and experience necessary to succeed on their fiscal journeys and achieve financial harmony. From then onward, he assembled a team of financial wizards,
        each bringing their unique 'lion-like' courage and devotion to the
        table.
      </p>
      <p class="mb-4" style="line-height: 1.6">
        Just as everyone has unique qualities, we believe that everyone deserves
        the tools and knowledge to make smart borrowing decisions. Our
        user-friendly loan calculator simplifies financial planning, enabling
        you to calculate loan terms, estimate monthly payments and understand
        total interest, all while working towards a debt-free future. Join us on
        this magical journey toward financial empowerment.
      </p>
      <p class="mb-4" style="line-height: 1.6">
        Welcome to Gryffindor Loan App, where we firmly believe in the power of your courage and dedication to
        achieve your financial objectives. We're here to aid you in your financial quest!
    </div>
  </div>
</div>
